.hidden {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* 1. Header/Nav */

#main-header {
    
    top: 0px;
    height: 90px;
    background-color: #00334E;
    
}

#header-nav {
    grid-column: 3/11;
}

#header-nav ul {
    display: flex;
    justify-content:space-between;
    margin: 0px;
    padding: 0;
    list-style: none;
    
}

#header-nav li {
    display: inline-block;
    padding: 1rem;
   
}

#header-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
}

.logo {
    position: relative;
    width: 110px;
    height: 110px;
    z-index: 1;
}

/* 2. Hero */

#hero {
    position: relative;
    display: inline-block;
}

.button {
    font-size: 18px;
    border-radius: 10px;
    background-color: #5588a3;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 26px;
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tag-line {
    font-size: 65px;
    color:#00334e ;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Henny Penny', cursive;
}

.grid {
    display: grid;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}

#gallery {
    display: grid;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}


h2 {
    display: block;
    font-size: 35px;
    text-align: center;
    grid-column: 3/11;
    font-family: 'Ribeye', cursive;
}

.photo h3 {
    font-size: 1.2em;
}

.photo p {
    font-size: 1em;
    margin-top: 5px;
}
