.hidden {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* 1. Header/Nav */

#main-header {
    /* position: sticky; */
    top: 0px;
    height: 90px;
    background-color: #00334E;
    
}

#header-nav {
    grid-column: 3/11;
    position: relative;
    padding-top: 20px;

}

#header-nav ul {
    display: flex;
    justify-content:space-between;
    margin: 0px;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

#header-nav li {
    display: inline-block;
    padding: 1rem;
   
}

#header-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Azeret Mono', monospace;
    letter-spacing: 2px;
}

.logo {
    position: relative;
    width: 110px;
    height: 110px;
    z-index: 1;
}

/* 2. Hero */

#hero {
    position: relative;
    display: inline-block;
}

#button-hero {
    padding: 5px 26px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: relative;
    font-size: 18px;
    border-radius: 10px;
    background-color: #5588a3;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Ribeye', cursive;
}

#tag-line {
    font-size: 65px;
    color:#00334e ;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Henny Penny', cursive;
}

.grid {
    display: grid;
    /* padding-left: 15px; */
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}




h2 {
    display: block;
    color: white;
    font-size: 40px;
    letter-spacing: 4px;
    text-align: center;
    grid-column: 3/11;
    font-family: 'Ribeye', cursive;
    font-size: 24px;
    margin-bottom: 20px;
}



/* 3. The Swerve Milk drink */

#gallery {
    background-color: #5588A3;
    text-align: center;
    padding: 0;
  }
  
  .photo-container {
    background-color: #ffffff;
    padding: 20px;
    display: inline-block;
  }
  
  .photo-row {
    display: grid;
    justify-content: space-between;
  }
  


  #gallery1 {
    grid-column: 2/3;
  }

  #gallery2 {
    grid-column: 6/7;
    padding-left: 15px;
  }

  #gallery3 {
    grid-column: 10/11;
  }

  
  h3 {
    color: white;
    letter-spacing: 3px;
    font-family: 'Ribeye', cursive;
  }
  
  .photo-item p {
    font-size: 14px;
    color: white;
    line-height: 1.5;
    margin: 10px 0;
    font-family: 'Cherry Swash', cursive;
    letter-spacing: 2px;
  }

  /* 4. Every can has a story */

  #swerve-story {
    background-color: #00334E;
  }

  #h2-story {
    grid-column: 2/5;
    grid-row: 2/3;
  }

  #story-button {
    grid-column: 5/7;
   
  }

  #gall1 {
    grid-column: 7/-1;
    margin-bottom: 20px;
    grid-row: 2/3;
  }

  #gall2 {
    grid-column: 1/6;
    padding-left: 15px;
  }

  #gall3 {
    grid-column: 7/9;
  }

  #gall4 {
    grid-column: 10/-1;
    margin-bottom: 20px;
  }

  /* 5. Brand Character */

  #video-place {
    background-color: #5588A3;
  }

#the-video {
  padding-top: 50px;
  padding-left: 15px;
  padding-bottom: 50px;
  width: 474px;
  height: 267px;
}

#unique {
  grid-column: 7/-1;
  padding-top: 40px;
  letter-spacing: 4px;
}

#best {
  grid-column: 7/11;
  
}